{{#> layout title="Space Cat"}}
<body>
    <div class="header">
    <img src="https://i.etsystatic.com/20649982/r/il/97fb65/2270932519/il_1588xN.2270932519_pxmn.jpg" alt="kat" />
    </div>
    <br>
    
</body>
{{/layout}}